body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.car-list {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 20px auto;
}

.car-item {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-item button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-button {
  background-color: #007BFF;
  color: white;
}

.edit-button {
  background-color: #ffc107;
  color: white;
}

.remove-button {
  background-color: #dc3545;
  color: white;
}

.car-item button:hover {
  opacity: 0.8;
}

.car-details {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.car-details img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.car-details p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.car-details p strong {
  color: #000;
}
